{% extends "base.html" %}

{% block content %}
  <form method="POST" name="form">
  	{% csrf_token %}
  	{{ form }}
  	<button>Save</button>
  	<a href="{% url 'index' %}">Cancel</a>
  </form>
{% endblock %}