{% extends "base.html" %}
{% block content %}
  <div>Hello World from Django project for SKNI.</div>
  <div><a href="{% url 'createAuthor' %}">Create author</a></div>
  <div><a href="{% url 'booksAuthors' %}">Books author</a></div> 
{% endblock %}