{% extends "base.html" %}

{% block content %}
  <div>
    <a href="{% url 'createBookAuthor' %}">Create book author</a>
  	{% if author_list %}
  	  <ul>
  	    {% for author in author_list %}
  	      <li>
  	        {{ author.first_name }}
  	        {{ author.last_name }}
  	        <a href="{% url 'updateBookAuthor' author.pk %}">Update author</a>
  	        <a href="{% url 'deleteBookAuthor' author.pk %}">Delete author</a>
  	      </li>
  	    {% endfor %}
  	  </ul>
  	{% endif %}
  </div>
{% endblock %}