{% extends "base.html" %}

{% block content %}
  <form method="POST" name="form">
    {% csrf_token %}
    <button>Delete</button>
    <a href="{% url 'booksAuthors' %}">Cancel</a>
  </form>
{% endblock %}